<footer class="container">
    <p>Välkommen till The Zunerts Chronicles, utvecklat av Ultra-Stars </p>
    <p>I detta fantastiska spel är ditt mål att ta dig till fabriken längst till höger.</a>.</p>
    <p>Skapat av Emil Åsbringer</p>
</footer>