---
layout: layouts/base.njk
---
<main>
    <div id="game" onload=focus()></div>
</main>
<script src="https://cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.js"></script>
<script src="/js/bundle.js"></script>